* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
section {
    height: 100vh;
    text-align: center;
    background-image: radial-gradient(white, rgb(188, 224, 202), rgb(152, 240, 12), rgb(161, 19, 126));
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    padding-top: 25vh;
    margin-bottom: 10px;
    /* color: rgb(152, 240, 12);
    text-shadow: 3px 3px 3px rgb(161, 19, 126); */
    /* font-size: 7vh; */
    color: rgb(161, 19, 126);
    text-shadow: 2px 2px 2px rgb(152, 240, 12);
}
h2 {
    padding:10vh;
    color: rgb(161, 19, 126);
    text-shadow: 2px 2px 2px rgb(152, 240, 12);
}
button {
    padding:10px;
    margin: 5vh
}
button:hover{
    transform: scale(75%) translateX(-50px) rotate(-30deg);
    
}
button:active{
    transform: translateX(150px) scale(150%);
}
