*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(165, 165, 190);
    text-align: center;
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    top: 0;
    background-color: salmon;
    height: 8vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(151, 47, 87);
}
nav h1 {
    color: rgb(151, 47, 87);
    text-shadow: 2px 1px 2px white;
    margin-right: 10vw;
    text-transform: uppercase;
    font-size: 3vw;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1vw;
    color: rgb(151, 47, 87);
    padding: 9px;
    border: 1px solid black;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5vw;
}
nav a:hover{
    box-shadow: 3px solid rgb(44, 43, 43);
    background-image: linear-gradient(90deg, rgb(77, 77, 114), rgb(90, 155, 90), rgb(77, 77, 114));
    transform: scale(1.1);
    color: salmon;
}
.section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header {
    color: rgb(112, 50, 50);
    width: 85vw;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(206, 193, 193);
    background-color: rgb(133, 168, 125);
    margin: 30px;
    background-image: linear-gradient(0deg, rgb(27, 114, 114), rgb(105, 223, 223), rgb(27, 114, 114));
    border-radius: 10px;
    box-shadow: 4px 4px rgb(73, 40, 40);
    font-size: 3vh;
}
section {
    width: 90vw;
    flex-basis:30vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: rgb(193, 236, 182);
    border-radius: 10px;
    box-shadow: 4px 4px rgb(73, 40, 40);
    border: 1px solid rgb(73, 40, 40);

}
h2 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: rgb(112, 50, 50);
    display: inline-block;
    max-width: 90%;
    box-shadow: 4px 4px rgb(73, 40, 40);
    border: 1px solid rgb(73, 40, 40);
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(206, 193, 193);
    padding: 2vw;
    font-size: 4vh;
    background-image: linear-gradient(0deg, rgb(27, 114, 114), rgb(105, 223, 223), rgb(27, 114, 114)); 
    text-transform: uppercase;
}
h3{
    margin: 2vh;
    background-image: linear-gradient(0deg, rgb(27, 114, 114), rgb(105, 223, 223), rgb(27, 114, 114));
    text-transform: uppercase;
    /* width: 40vw; */
    align-self: center;
    border: 1px solid rgb(73, 40, 40);
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(206, 193, 193);
    padding: 3vh;
    font-size: 3vh;

}
article {
    border: 2px solid rgb(209, 152, 68);
    border-radius: 10px;
    background-color: blanchedalmond;
    margin: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}
aside{
    color:rgb(175, 68, 68);
    display: inline-block;
    border: 1px solid rgb(175, 68, 68);
    margin-left: 50vw;
    padding: 5px;
    border-radius: 5px;
}
p, dl, figure, #fig-container, #list-cont, ol, ul, pre, table, form, #loginstuff, #timestuff, map{
    margin: 20px;
    padding: 10px;
    border: 2px solid rgb(175, 68, 68);
    background-color:rgb(236, 182, 204);
    /* width: 75vw; */
    border-radius: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
p {
    display: inline-block
}
table {
    align-self: center;
    display: block;
}
button {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: rgb(161, 19, 126);
    font-weight: bold;
    text-transform: lowercase
    
}
button:hover{
    background-image: radial-gradient(white, rgb(188, 224, 202), rgb(152, 240, 12), rgb(161, 19, 126));
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.5);
    text-transform: uppercase;
}
input, select{
    margin: 10px;
    padding: 5px;
    max-width: 90%;
}
audio {
    max-width: 90%;
}
fieldset, textarea, #loginstuff, #timestuff, area{
    min-height: 100px;
    width: 45vw;
    align-self: center;
    /* display: inline-block; */
    background-color: rgb(74, 168, 137);
}
dd {
    margin-left: 15vw;
}
td {
    border: 1px solid #333;
}
iframe {
    margin-top: 20px;
}
ol, ul {
    width: 50vw;
}
figure {
    width: 50vw;
    height: 50vh;
    /* margin-left: 15vw; */
}
li {
    border: 1px solid rgb(175, 68, 68);
    border-radius: 5px;
    text-align: center;
    /* width: 20vw; */
    margin-left: 5vw;
    padding: 5px;
    margin-top: 5px;
} 
label {
    margin-top:10px
}
footer {
    color: rgb(192, 106, 9);
    text-align: right;
}
#body-footer {
    margin-top: 10vh;
    padding: 20px;

}